<div class="shares-wrapper">
  <div class="shares-header">
    <h1>Resources</h1>
    <a href="#/shares/new-share">+ Share</a>
  </div>
  <div class="share-listings">
    <ul class="indi-share">
      <li class="link-li" ng-repeat="share in vm.shares">
        <div class="share">
          <i ng-click="vm.vote('blue', 'upvote')" class="fa fa-arrow-up fa-2x"></i>
          <i ng-click="vm.vote('orange', 'downvote')" class="fa fa-arrow-down fa-2x"></i>
          <a class="share-url" href="{{share.url}}">{{share.description || share.url}}</a>
        </div>

        <div class="share-comments">
          <a href="{{share.userId}}">by {{share.userId}}</a>
          <a href="/#/shares/{{share._id}}">Comments</a>
          <a class="indi-share-delete" ng-click="vm.delete(share._id)">Delete</a>
        </div>
      </li>
    </ul>

    <div class="featured-share-wrapper">
      <h2>Featured Article</h2>
      <div class="share">
        <i ng-click="vm.vote('blue', 'upvote')" class="fa fa-arrow-up fa-2x"></i>
        <i ng-click="vm.vote('orange', 'downvote')" class="fa fa-arrow-down fa-2x"></i>
        <a class="share-url" href="http://www.reddit.com/">Checkout Reddit!</a>
      </div>
      <div class="comments">
        <p>One day, we shall have comments!</p>
      </div>
    </div>

  </div>
</div>
