.shares-wrapper {
  @include outer-container(95%);
  font-family: $helvetica;
  .indi-share {
    @include span-columns(8);
  }
  .featured-share-wrapper {
    @include span-columns(4);
    // background-color: lightpink;
    height: 10em;
  }
}

.shares-header {
  @include fill-parent();
  @include row(table);
  // margin: 0 auto;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // flex-wrap: wrap;
}

.shares-header a {
  font-size: 1.5em;
  color: #2e2e2d;
}

.link-li {
  padding: 2% 1%;
}

.share-url {
  font-size: 1.9em;
  color: #ecf0f1;
}

.share-comments {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 4.3em;
  cursor: pointer;
}

.share-comments a {
  margin-right: 1em;
  color: #2e2e2d;
}
