.share-wrapper {
  margin-left: 7%;
  padding-top: 1.5em;
  letter-spacing: .1em;
}

.share-description-title {
  margin-bottom: 0.3em;
}

.share-url-link {
  font-size: 1.5em;
  margin-top: .1em;
}

.vote-counts {
  margin-top: 2em;
  margin-bottom: 2em;
}

.shared-by {
  margin: 2em 0 2em 0;
}

.share.fa.fa-arrow-up.fa-2x {
  color: blue;
}

.share.fa.fa-arrow-down.fa-2x {
  color: orange;
}

.comment-section {
  margin-top: 1em;
}

.comment-text {
  font-size: 1.2em;
}

.comment-date {
  color: black;
  font-size: .7em;
}
